.imgBackground{
  background-image: url('../../../assets/vector.png');
  background-position:  right top;
  background-repeat: no-repeat;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.contenSumary{
  width: 38%;
  margin-left: 8.5%;
  margin-top: 1%;
}

.textTitle{
  margin: 0%;
  font-size: 85px;
}

.textSummary{
  font-size: 18px;
  line-height: 25px;
  color: #94A2B3;
}

.contentBtn{
  margin-left: 8%;
  margin-top: 1%;
}

.textP{
  font-family: 'Roboto-Regular';
  font-weight: 400;
  font-size: 18px;
  color: #299EF3;
  cursor: pointer;
}

.spanText{
  color:#94A2B3;
}



