.marginTitle{
  margin-top: 11%;
}

.h1Title{
  text-align: center;
  color: #272D4E;
  font-family: "Roboto-Bold";
  font-size: 90px;
  line-height: 70px;
}

.contentTitle{
  width: 55%;
  margin: 20%;
}