.backgroundImg{
  background-image: url('../../../assets/rectangle.png');
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}

.developmenFont{
  width: 64%;
  font-family: "Roboto-Bold";
  color: #fff;
  font-size: 36px;
}

.developmentSummary{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

