.footerText{
  text-align: center;
  color: #FFFFFF;
  font-family: "Roboto-Bold";
}

.footerTitle{
  font-family: "Roboto";
  font-size: 20px;
  line-height: 52px;
  color: #fff;
  margin-left: 10px,
}